# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and data
*.log
*.json
*.xlsx
.env

# VS Code / PyCharm
.vscode/
.idea/

# Results
stage*.json
stage*.xlsx

# OS
.DS_Store
Thumbs.db

# Virtual environments
venv/
.venv/

# Jupyter
*.ipynb_checkpoints
